#turnred {
  color: orange;
  background-color: red;
}

.turnpink {
  color: pink;
  background-color: green;
}


.turnpurple {
  color: white;
  background-color: orange;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover  {
  color: yellow;
}

footer {
  background-color: lightblue
}

#div1 {
  color: blue;
  background-color: yellow;
}
