h1 {
  font-family: helvetica;
 font-weight:normal;
 background-color: lightblue;
 color: black;
 grid-column: span 3;
 padding: 10px
 border:10px solid black
}
h2{
  font-family: helvetica;
  border: px solid black;
  padding: px;
  grid-column: span 1;
  text-align: right;
  background-color: lightblue
}


main{
  text-align: left;
}

body{
  background-color: lightgreen;
}
.toph2{
  border-bottom: 5px solid white
}

#font1{
  font-family: Georgia;
  font-weight: bold;
  text-align: justify;
}


li{
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid: span 3
}

nav li a {
  display: block;
  background-color: green;
  padding: 10px;
  margin: 10px;
  width: 200px;
  color: white;
  text-decoration: none;
  grid-column: span 3;
  border: 5px solid black;
}

main img{
  float:right;
  margin-right: 20px;
  margin-bottom: 20px;
  border:
  grid-column: span
  padding: 10px
}
footer{
  font-family: Verdana;
  font-style: italic;
  text-align: center;
  background-color: lightblue;
  border: 5px solid black;
  grid-column: span 3;
}
p{
  margin-left:
}

div{
  background-color: white;
}
